* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background-color: black;
    font-size: 1.5em;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

.content {
    margin: auto;
    padding: 4%;
    width: 80%;
    border-radius: .5%;
    background: linear-gradient(180deg, #bdd1d9 0%, #d8c4bc 100%);
}

.content_title {
    border-bottom: .1em solid gray;
    margin-bottom: 2%;
}

.label {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: .3s;
    color: blue;
}

.text {
    display: flex;
    justify-content: space-between;
}

.plus {
    width: 3%;
    height: 3%;
    transition: .3s;
    opacity: 0;
}

.content_list:hover > li > .label {
    cursor: pointer;
    color: black;
}

.content_list:hover > li  > label > span > .plus {
    opacity: 1;
    color: black;
}    

.input {
    display: none;
}

.input:checked + span > .plus {
    transform: rotate(45deg);
}

.hidden-img {
    margin: 2% 0;
    width: 100%;
    height: 100%;
    max-height: 0;
    max-width: 0;
    border-radius: 2%;
    align-self: center;
    transition: 1s;
}

.list-item.label.input:checked ~ .hidden-img {
    max-height: 10%;
    max-width: 10%;
}

.list-item > .label:hover > .hidden-img {
    max-height: 30%;
    max-width: 30%;
}

.label:hover > span > .plus {
    transform: rotate(45deg);
}